<% content_for :action_name,
               render('layouts/shared/current_action',
                      parent_page: 'show')
%>
  <%= content_for :page_title, 'Posts details' %>

  <h1>Posts#new</h1>

  <%= form_with model:@post ,local: true do |form| %>
  <%= form.text_area :body %>
   <%= submit_tag %>
<% end %>
